html{
	padding:10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image:URL("./background.jpg");
}

body{
	margin:0 auto;
	border-radius:10px;
	box-shadow: 1px 1px 30px #555;
	width:1280px;
	padding:10px;
	background-color:rgba(255, 255, 255, 0.7);
}

h2{
	text-align:center;
}


}

header{
	height:10%;
	border:2px solid #333333;
	padding:5px;
}

footer{
	height:15%;
	border:2px solid #333333;
	border-radius:10px;
	margin-top:10px;
	padding:5px;

}

nav{
	height:5%;
	border:2px solid #333333;
	border-radius:10px;
	margin-top:10px;
	padding:5px;
}

button{
	border:2px solid dodgerblue;
	padding:5px;
	width:350px;
	font-size:18px;
	background-color:dodgerblue;
	font-weight:bold;
}

button:focus{
	outline:0;	
}

button:hover{
	border:2px solid #07CC07;
	background-color:#07CC07;
}

select{
	border:2px solid #7D7D7D;
	padding:5px;
	width:350px;
	font-size:15px;
}

select:focus{
	outline:0;
    border:2px solid dodgerblue;	
}

input{
	border:2px solid #7D7D7D;
	padding:5px;
	width:350px;
	font-size:15px;
}

input:focus{
	outline:0;
    border:2px solid dodgerblue;	
}

textarea{
	border:2px solid #7D7D7D;
	padding:5px;
	width:350px;
	font-size:15px;
	height:100px;
}

textarea:focus{
	outline:0;
    border:2px solid dodgerblue;	
}


.principal-content{
	border:2px solid #333333;
	border-radius:10px;
	margin-top:10px;
	padding:5px;
}

#date-hide{
	display:none;
	color:dodgerblue;
	font-weight:bold;
}

#date:hover span{
	display:inline;
}

#form-formation{
	margin-left:458px;
	display:block;
}
